body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Background Image*/
    background-image: url('assets/Spirale.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cormorant Garamond', serif;
    
}

#clock {
    font-size: 2rem;
    color: aliceblue;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-shadow: 5px 5px 5px #575b7d;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
}

.box {
    border: 7px double purple;
    border-radius: 0.7em;
    background-color: rgba(0,0,0,.6);
    padding: 10px;
    width: 20vw;
    min-width: 180px;
}

.box > h2 {
    color: magenta;
    margin-top: 0;
}

.box > ul {
    list-style-type: none;
    padding: 0;
}




a {
    text-decoration: none;
    color: rgb(243, 237, 237);
    transition: all 2s;


}

a:hover {
    color: rgb(53, 195, 214);
    font-weight: 500;
    font-size:  1.5em;
    transition: all 1.5s;
}
